body {
  font-family: "Geist", sans-serif;
  background-color: #f8fafc;
  color: #001f3f;
}

html {
  scroll-behavior: smooth;
}

.active-tab {
  background-color: #3b82f6 !important;
  color: white !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
}

.border-interview {
  border-left: 4px solid #10b981 !important;
}

.border-rejected {
  border-left: 4px solid #ef4444 !important;
}

.job-card {
  transition: all 0.3s;
  animation: fadeIn 0.5s ease backwards;
  border-left: 1px solid white;
}

.job-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-color: #e5e7eb;
}

.active-green {
  background-color: #10b981 !important;
  color: white !important;
  border-color: #10b981 !important;
}

.active-red {
  background-color: #ef4444 !important;
  color: white !important;
  border-color: #ef4444 !important;
}

.delete-btn {
  opacity: 0;
  transform: scale(0.9) translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}